# OS 임시 파일
.DS_Store
Thumbs.db

# Node.js 빌드 디렉토리
node_modules/
.next/

# Java 빌드 결과물
*.class

# Gradle 캐시
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar


# 🚫 빌드 산출물 무시
/backend/build/
/build/
*.zip
*.tar/
*.jar

# ✅ 예외 처리: gradle-wrapper.jar은 Git에 포함
!gradle/wrapper/gradle-wrapper.jar